@font-face {
  font-family: "CustomFont";
  src: url("/src/fonts/Vazir.ttf");
  src: url("/src/fonts/Vazir-Bold.woff") format("woff");
}
body {
  margin: 0;
  padding: 0;
  font-family: "CustomFont", Arial, sans-serif !important;
  background-color: rgb(7, 63, 104) !important;
}
.payment-getway {
  position: relative;
}

.credit-card {
  margin-top: 20px;
  z-index: 2;
  top: 0;
  flex-wrap: wrap;
  position: sticky !important;
  direction: ltr !important;
}
.card {
  max-width: 500px;
  margin: auto;
  text-align: right !important;
  z-index: 1;
  flex-wrap: wrap;
  border-radius: 10px 10px 10px 10px !important;
  box-shadow: 0 30px 60px 0 rgba(133, 147, 168);
  position: relative;
  background-color: rgb(242, 237, 230);
}
.payment-form {
  margin: 40px 35px 20px 35px;
}
.form-group {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form-control {
  width: 100%;
}

.card-label {
  color: #1a3b5d;
  direction: ltr !important;
  font-size: 14px;
}

#cardYear {
  margin-top: 30px;
  margin-left: 15px;
}

.date-cvv-box {
  display: flex;
  justify-content: space-between;
}

.expiry-class {
  display: flex;

  flex: 1;
}

.card-month {
  flex: 1;
}

.card-year {
  flex: 1;
}



p {
  direction: rtl !important;
  text-align: right !important;
}

.check-information {
  background-color: rgb(11, 4, 107);
  display: flex;
  flex-direction: column;
  width: 44%;
  color: azure;
  position: absolute;
  top: 0;
  left: 497px;
  border-radius: 0 30px 30px 0;
  padding: 5px;
  height: 670px;
}
.information-content {
  margin: 7px auto;
}
.information-values {
  color: rgba(255, 255, 0, 0.781);
}
.info_container {
  width: 40%;
}

.darghah_pardakht {
  display: flex;
  flex-direction: column;
}

label {
  text-align: right !important;
}
.bank {
  z-index: 3;
  top: 0;
  margin-left: 56vw;
  margin-top: -250px;
  margin-bottom: 220px;
  position: sticky !important;
}
.bankName {
  margin: 10px;
  margin-left: -6vw !important;
}
.btn {
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0 5px 10px 0 rgba(90, 116, 148, 0.4);
}
.next-btn {
  border-radius: 30px 30px 30px 30px;
  background-color: rgb(8, 8, 119);
  color: #fff;
}
.payment-btn {
  border-radius: 30px 30px 30px 30px;
  color: #fff;
  background-color: rgb(5, 5, 87);
}
.exit-btn {
  border-radius: 30px 30px 30px 30px;
  background: rgb(177, 175, 175);
  width: 50%;
  margin-top: 3px !important;
}

.btn-puya {
  width: 40%;
}
.form-label {
  color: aliceblue;
}
@media only screen and (max-width: 1300px) {
  .bank {
    margin-left: 60vw;
  }
  .bankName {
    margin: 10px;
    margin-left: -10vw !important;
  }
  .check-information {
    display: none !important;
  }
}

@media only screen and (max-width: 1000px) {
  .bank {
    margin-left: 64vw;
  }
  .bankName {
    margin: 10px;
    margin-left: -13vw !important;
  }
  .check-information {
    display: none !important;
  }
}
@media only screen and (max-width: 576px) {
  .bank {
    margin-left: 64vw;
    width: 20px;
    font-size: 10px;
  }
  .bankName {
    margin: 10px;
    margin-left: -20vw !important;
  }
  .check-information {
    display: none !important;
  }
  .Bank-logo {
    width: 50px;
    height: 40px;
    margin-top: 30px;
  }
}
@media only screen and (max-width: 407px) {
  .bank {
    margin-left: 64vw;
    width: 20px;
    font-size: 10px;
  }
  .bankName {
    margin: 10px;
    margin-left: -30vw !important;
  }
  .check-info {
    display: none;
  }
}
